@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  background: #ebe9e9;
}

header {
  width: 100%;
  height: 80px;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: opx;
  left: opx;
  z-index: 1000;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);



}

header .logo {
  text-decoration: none;

}

header .logo img {
  width: 50px;

}

header .logo span {
  color: #1a1a1a;
  font-weight: bold;
  font-size: 25px;
  margin-left: 20px;


}

header button.rounded-circle {
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  background: #f0f5ff !important;
  color: #292929;
  border: #f0f5ff;
  margin-left: 10px;


}

header button.rounded-circle svg {
  color: #292929;
  font-size: 18px !important;

}

.searchBox {
  width: 400px;
  height: 40px;
  background: #f0f5ff;
  border-radius: 6px;
  padding: 3px 15px;
  margin-left: 20px;

}

.searchBox input {
  background: transparent;
  border: 0px;
  outline: none;
  padding-left: 0px;
  font-size: 18px;
  color: #292929;
  margin-left: 20px;

}

.searchBox ::-webkit-input-placeholderz {
  color: rgba(0, 0, 0, 0.6);
}

.searchBox svg {
  font-size: 20px;
  color: #292929;
}

.MyAccWrapper {
  display: flex;
}

.myAcc {
  text-align: left;
  color: #000 !important;
  text-transform: capitalize !important;
}

.myAcc .userImg {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 40px;
  height: 40px;
  border: 1px solid #f0f5ff;
  padding: 2px;
  border-radius: 100%;
}

.myAcc.userImg .rounded-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
}

.myAcc.userImg .rounded-circle img {
  object-fit: cover;
  width: 100%;
  height: 100%;

}

.myAcc .userInfo {
  padding-left: 10px;
}

.userInfo h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0 px;
}

.userInfo p {
  margin-top: 0px;
  font-size: 12px;
  color: #000;
  opacity: 0.7;
}

.main .sidebarWrapper {
  width: 20%;
  flex: 0 0 20%;
  transition: all 0.3s;


}

.main .sidebarWrapper.toggle {
  width: 0%;
  flex: 0 0 0%;
}

.main .sidebarWrapper .sidebar {
  width: 20%;
  height: 100vh;
  max-height: calc(100% -70px);
  position: fixed;
  top: 70px;
  left: 0px;
  background: #fff;
  overflow: scroll;
  overflow-x: hidden;
  padding-bottom: 40px;
  transition: all 0.3s;
}

.main .sidebarWrapper.toggle .sidebar {
  left: -100%;
}

.main .sidebarWrapper .sidebar::-webkit-scrollbar {
  width: 3px !important;
}

.main .sidebarWrapper .sidebar::-webkit-scrollbar-thumb {
  background: transparent !important;

}

.main .sidebarWrapper:hover .sidebar::-webkit-scrollbar {
  background: #0858f7 !important;
}







.main .sidebarWrapper .sidebar ul {
  margin-bottom: 0px;
  padding: 10px 15px;


}

.main .sidebarWrapper .sidebar ul li {
  list-style: none;
}

.main .sidebarWrapper .sidebar ul li button {
  color: rgba(0, 0, 0, 0.7) !important;
  text-align: left;
  justify-content: left;
  border-radius: 10px;
  padding: 12px 15px !important;
  align-items: center;
  text-transform: capitalize !important;
  font-weight: 600 !important;
  font-family: sans-serif;

}

.main .sidebarWrapper .sidebar ul li button .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.main .sidebarWrapper .sidebar ul li button .icon svg {
  font-size: 22px;
}

.main .sidebarWrapper .sidebar ul li button * {
  color: #5e5d72 !important;
}

.main .sidebarWrapper .sidebar ul li button .arrow {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  transition: all 0.3s ease-in-out;
}

.main .sidebarWrapper .sidebar ul li button:hover {
  background: #f1f1f1 !important;
}

.main .sidebarWrapper .sidebar ul li button.active {
  background: #f1f1f1 !important;
}

.main .sidebarWrapper .sidebar ul li button.active .icon svg {
  color: #0858f7 !important;
}



.main .sidebarWrapper .sidebar ul li button.active .arrow {
  transform: rotate(90deg);
}


.main .sidebarWrapper .sidebar ul .submenu {
  padding: 0px 45px;
  position: relative;
  transition: all 0.3s;
  height: 0px;

}

.main .sidebarWrapper .sidebar ul .submenu::before {
  content: '';
  width: 1px;
  height: 95%;
  position: absolute;
  top: 0px;
  left: 25px;
  background: rgba(0, 0, 0, 0.2);
}

.main .sidebarWrapper .sidebar ul .submenu li {
  width: 100%;
  list-style: none;
}

.main .sidebarWrapper .sidebar ul .submenu li a {
  color: #5e5d72 !important;
  text-decoration: none;
  display: block;
  padding: 6px 0px;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s;

}

.main .sidebarWrapper .sidebar ul .submenu li a:hover {
  color: #0858f7 !important;

}


.main .sidebarWrapper .sidebar ul .submenuWrapper {
  transition: all 0.4s;
  height: 0px;
  overflow: hidden;
  opacity: 0;
}

/* .main .sidebarWrapper .sidebar ul .submenuWrapper.colapsed {
  height: 0px;
} */



.main .sidebarWrapper .sidebar ul .submenuWrapper.colapsed .submenu {
  opacity: 0;
}

.main .sidebarWrapper .sidebar ul .submenuWrapper.colapse {
  height: auto;
  overflow: inherit;
  opacity: 1;
  padding: 10px 0px;
}

.main .sidebarWrapper .sidebar ul .submenuWrapper.colapse .submenu {
  opacity: 1;
  height: auto;
}



.logoutWrapper {
  padding: 0px 25px;
}

.logoutWrapper .logoutBox {
  width: 100%;
  height: 130px;
  padding: 25px;
  background: #bcd2fd;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.logoutWrapper .logoutBox::before {
  content: '';
  width: 70px;
  height: 70px;
  background: #0858f7;
  border-radius: 100%;
  position: absolute;
  top: -20px;
  right: -20px;
  opacity: 0.5;
}

.logoutWrapper .logoutBox::after {
  content: '';
  width: 30px;
  height: 30px;
  background: #0858f7;
  border-radius: 100%;
  position: absolute;
  top: 20px;
  left: 10px;
  opacity: 0.5;
}

.logoutWrapper .logoutBox button {
  font-size: 14px !important;
  font-weight: 600px !important;

}

.logoutWrapper .logoutBox button svg {
  margin-right: 5px;
  font-size: 18px !important;

}

/* Dashboed */


.main .content {
  width: 80%;
  flex: 0 0 80%;
  transition: all 0.3s;
}



.main .content.toggle {
  width: 100%;
  flex: 0 0 100%;
}

.right-content {
  padding: 90px 30px;
  padding-bottom: 10px;
}

.dashboardBoxWrapper {
  gap: 20px;
  height: 170px;

  flex-wrap: wrap;

}

.dashboardBoxWrapper .dashboardBox {
  width: 48%;
  height: 170px;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left !important;
  position: relative;
  color: #fff;
}



.dashboardBoxWrapper .dashboardBox .col1 h4 {
  font-size: 20px;
  font-weight: 500;
}

.dashboardBoxWrapper .dashboardBox .col1 h3 {
  font-size: 28px;
  font-weight: 500;
}

.dashboardBoxWrapper .dashboardBox .col1 span {
  font-size: 35px;
  font-weight: bold;
  line-height: 45px;
}

.dashboardBoxWrapper .dashboardBox .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;

  margin-left: 110px;
  /* margin-bottom: 200px; */
  border-radius: 10px;
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.3));
}

.dashboardBoxWrapper .dashboardBox .icon svg {
  font-size: 36px;
  opacity: 0.4;
  color: #fff;
}

.dashboardBoxWrapper .dashboardBox .toggleIcon {
  font-size: 22px;
  margin-left: 160px;

  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;

}

.dashboardBoxWrapper .dashboardBox .chart {
  opacity: 0.1;
  position: absolute;
  bottom: 20px;
  left: 20px;

}

.dashboardBoxWrapper .dashboardBox .chart svg {
  font-size: 110px;
  color: #000;
}

.dashboardBoxWrapper .dashboardBox .bottomEle {
  position: relative;
  top: 25px;

}




.dashboardBoxWrapperRow .box {
  width: 100%;
  height: 360px;
  background-image: linear-gradient(to top, #30cfd0 0%, #481b7f 100%);
  border-radius: 10px;
}

.dashboardBoxWrapper .dashboardBox .MuiButtonBase-root svg {
  color: #000 !important;
  font-size: 17px !important;
  margin-right: 10px;


}

.dropdown_menu .MuiButtonBase-root svg {
  margin-right: 10px !important;
}


/* Best Selling Products */

.card {
  margin: 20px 0px;
  border-radius: 10px;
}

.card .hd {
  font-size: 18px;
  font-weight: bold;
  color: #403e57;
}


.cardfilters .col-md-3 h4 {
  font-size: 14px;
  font-weight: 800;
  text-transform: capitalize;
  color: #403e57;
}

/* h1,h2,h3,h4,h5,h6{
  /* color: #403e57; */
.table .responsive::-webkit-scrollbar-thumb {
  background: #ccc !important;
}

.table .thead-dark th {
  background-color: #1866ee !important;

  border-color: rgba(255, 255, 255, 0.1) !important;
  font-size: 15px !important;
  color: white;

}

.table tbody td {
  font-size: 14px !important;
  color: #403e57;
  font-weight: 500;

}

.table tbody .actions button {
  min-width: 32px !important;
  width: 32px !important;
  height: 32px !important;
  margin: 0px 3px !important;
}

.table tbody .actions button.secondary {
  background: rgba(203, 60, 231, 0.2) !important;
}

.table tbody .actions button.success {
  background-color: rgba(26, 159, 83, 0.2);
}

.table tbody .actions button.error {
  background: rgba(241, 17, 51, 0.2) !important;
}

.table tbody .actions button svg {
  font-size: 32px !important;
}

.table .v-align td {
  vertical-align: middle !important;



}




.table td .old,
.table td .new {
  display: block;
  width: 100%;
}

.table td .imgWrapper {

  width: 20%;
  flex: 0 0 20%;
}

.table td .info {
  width: 65%;
  flex: 0 0 65%;
  margin-left: 10px;



}

.table td .info h6 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}

.table td .info p {
  font-size: 13px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #5e5d72;
  margin-bottom: 0px;
}

.table.v-align td .productBox {
  width: 270px;
}

.tableFooter {
  padding-bottom: 20px;
}

.tableFooter p {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0px;
}

.tableFooter .pagination {
  margin-left: auto;
}

/* login */
.btn-lg {
  padding: 10px 32px !important;
}

.full {
  max-width: 100%;
  flex: 00 100% !important;
  width: 100% !important;

}

.loginSection {
  width: 100%;
  height: 100vh;
  padding: 35px 25px;
  background-color: #fff;
  position: relative;
}

/* .loginSection {
  width: 100%;
  height: 100%;
  opacity: 0.88;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99;
  pointer-events: none;



} */
.loginSection .loginBox {
  width: 400px;
  height: auto;
  margin: auto;
}

.loginSection .loginBox .wrapper {
  width: 100%;
  height: 400px;
  background-color: #f0f0f0;

}

.wrapperr .down {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  padding-top: 20px;
}

.loginSection .loginBox .wrapperr {
  width: 100%;
  height: 70px;
  background-color: #f0f0f0;
  position: relative;
  z-index: 100;
}

.loginSection .loginBox .wrapper .form-control {
  background: #fff !important;
  box-shadow: none !important;
  outline: none !important;
  border-radius: 8px !important;
  font-size: 14px;
  font-weight: 600;
  height: 45px;
  padding-left: 40px;
}

.loginSection .loginBox .wrapper .form-group:focus .icon svg {
  color: #0858f7 !important;
}

.loginSection .loginBox .wrapper .form-control:focus {
  border: 1px solid #0858f7 !important;
}

.loginSection .loginBox .wrapper .form-group .icon {
  position: absolute;
  top: 3px;
  left: 10px;
  z-index: 100;
  font-size: 23px;
}

.loginSection .loginBox .wrapper .form-group .icon svg {
  color: #5e5d72;
}

.toggleshowPassword {
  position: relative;
  top: -35px;
  left: 300px;
  cursor: pointer;
}

.toggleshowPassword svg {
  font-size: 22px;
  color: #5e5d72;
}

.btn-lg {
  padding: 5px 25px !important;
}

.btn-big {
  padding: 10px 25px !important;
  font-size: 16px;

}

.btn-round {
  border-radius: 30px;

}

.loginSection .loginBox .wrapper .link {
  font-size: 14px;
  color: #000;
  text-decoration: none;
}

.loginSection .loginBox .wrapper .link:hover {
  color: blue;
}

.loginSection .loginBox .wrapper .or span.line {
  display: block;
  width: 35%;
  height: 1px;
  background: rgba(0, 0, 0, 0.2);
}

.loginSection .loginBox .wrapper .or span.txt {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 600;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.loginWithGoogle {
  text-transform: capitalize !important;
  font-weight: bold;

}

.signUpSection {
  background: #f1f1f1 !important;
  position: relative;
  z-index: 100;
  width: 100%;
  padding: 25px 5px;

}

.signUpSection .loginBox .wrapper {
  border: 0px !important;
  background: transparent !important;
  padding-top: 10px !important;
}

.wrapper .Sin {
  background-color: rgb(211, 209, 209);
  height: 600px;
  width: 100%;
  padding: 20px;
}

/* ProductList */

.dashboardBoxWrapper1 .dashboardBox1 {
  width: 400px;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  color: #fff;
  margin: 10px;

}


/* Product Upload */
.form .form-group {
  margin-bottom: 25px;
}

.form .form-group h6 {
  margin-bottom: 10px;
  font-size: 13px;
}

.form .form-group input,
.form .form-group textarea {
  background: #fafafa;
  width: 100%;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  height: 40px;
  padding-left: 15px;
  font-size: 14px;


}

.form .form-group textarea {
  height: 120px;
  padding-top: 15px;
}

.imgUploadBox {
  width: 100%;
  flex-wrap: nowrap;
  gap: 10px;
}

.imgUploadBox,
.uploadBox {
  width: 150px;
  height: 150px !important;
  padding: 0px;
  border-radius: 10px;
  border: 1px dashed;
  background: rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #fafafa;
  transition: all 0.3s;


}

.imgUploadBox .uploadBox .box {
  width: 100%;
  height: 150px !important;
  overflow: hidden;
  border-radius: 7px;
}

.imgUploadBox .uploadBox .box .lazy-load-image-background {
  height: 100% !important;
  width: 100%;

}



.imgUploadBox .uploadBox .remove svg {
  font-size: 18px;
  color: #fff;

}

.imgUploadBox .uploadBox .MuiBox-root {
  position: absolute;
}

.imgUploadBox .uploadBox:hover {
  background: #f1f1f1;
}

.imgUploadBox .uploadBox img {
  border: 1px dashed rgba(255, 255, 255, 0.2)
}

.imgUploadBox .uploadBox input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;

}

.imgUploadBox .uploadBox .info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  pointer-events: none;
}

.imgUploadBox .uploadBox .info svg {
  font-size: 50px;
  opacity: 0.2;
}

.imgUploadBox .uploadBox .info h5 {
  font-size: 15px;
  text-align: center;
  opacity: 0.5;
}

.Sp {
  width: 230px;
  height: 150px !important;
  padding: 10px;
  border-radius: 10px;
  border: 1px dashed;
  background: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  background: #fafafa;
}



/* productDetail */
.sliderSml .slick-current .item {
  border: 1px dashrgb(128, 128, 128)ccc !important;
}

.sliderSml .slick-slide {
  padding-right: 10px;
}

.sliderSml .slick-slide .item {
  border-radius: 7px !important;
  overflow: hidden;
}

.sliderSml *,
.sliderBig * {
  transition: all 0.2s !important;
}

.sliderBig .item {
  overflow: hidden;
  border-radius: 7px;
  border: 2px dashed #ccc !important;
}

.sliderSml .item {
  overflow: hidden;
  border-radius: 7px;
  border: 2px dashed #ccc !important;
  cursor: pointer;
}

.productDetailsSEction .productInfo .icon {
  width: 28%;
  flex: 0 0 28%;
}



.productDetailsSEction .productInfo .icon svg {
  font-size: 22px;
}

.productDetailsSEction .productInfo .name {
  width: 72%;
  flex: 0 0 72%;
  font-weight: 600;
  font-size: 15px;
  color: rgba(36, 35, 35, 0.8) !important;
}



.productDetailsSEction .productInfo .row {
  margin-bottom: 10px !important;
}

.productDetailsSEction .productInfo .row .col-sm-9 {
  display: flex;
  align-items: center;
}

.productDetailsSEction .productInfo .row .col-sm-9 span {
  opacity: 0.8;
  font-size: 15px;
  padding-left: 20px;
}


.productDetailsSEction .productInfo .row .col-sm-9 span .row {
  margin-bottom: 0px !important;
}

.tags {
  margin-bottom: 0px !important;
  padding-left: 8px;
}

.tags li span {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #121d37 !important;
  border-radius: 5px !important;
  font-size: 12px !important;
  padding: 3px 10px !important;
  color: white;
}


.tags li {
  margin: 3px 5px !important;
}



.ratingSection {
  width: 500px;
}

.ratingSection .ratingrow {
  width: 100%;
  margin-bottom: 15px !important;
}

.ratingSection .ratingrow .progress {
  height: 5px !important;
  background-color: #000 !important;
}

.ratingSection .ratingrow .progress .progress-bar {
  background: #edb213 !important;
}



.ratingSection .ratingrow .col1 {
  width: 15%;
  flex: 0 0 15%;
  display: flex;
}

.ratingSection .ratingrow .col2 {
  width: 50%;
  flex: 0 0 50%;
}

.ratingSection .ratingrow .col3 {
  width: 25%;
  flex: 0 0 25%;
  display: flex;
  padding-left: 20px;
}

.reviewsSecrion {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.reviewsSecrion .reviewsRow {
  width: 100%;
  height: auto;
  padding: 35px;
  border-radius: 10px;
  margin: 15px 0px;
  color: black;
  background: #ededed !important;

}



.userInfo h6 {
  margin-bottom: 0px;
}

.reviewsSecrion .reviewsRow p {
  padding-left: 20px;
}

.reviewsSecrion .reviewsRow.reply {
  width: 90%;
  margin-left: auto;
}

.reviewsSecrion .reviewsRow .btn-big {
  font-size: 14px !important;
  padding: 7px 20px !important;
}

.reviewsSecrion .reviewsRow .btn-big svg {
  font-size: 18px !important;
}

.reviewForm {
  width: 100%;
}

.reviewForm textarea {
  width: 100%;
  height: 200px;
  padding: 15px;
  border-radius: 10px;
  color: black;
  border: 1px solid #a7a8aa !important;
  background: #ededed !important;

  
}



.reviewForm textarea::-webkit-input-placeholder {
  color: rgba(12, 12, 12, 0.5);
}


